.main-header {
  padding: 10px 20px 17px;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.main-header__logo {
  display: inline-block;
  width: 190px;
  height: 38px;
  background-image: url("../img/logo-mobile.svg"), url("../img/logo-mobile-txt.svg");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }

  .main-header {
    padding: 24px 30px 0;
    margin-bottom: 62px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 49px 110px 0;
    margin: 0;
  }

  .header__wrapper {
    background-color: transparent;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop.svg");
  }
}
.main-nav__toggle {
  padding: 0;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 22px 0 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.main-nav__link:last-child {
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767px) {
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
    top: 8px;
    left: 0;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 10;
    width: 100%;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 7.5px 0 0 #000000, 0 15px 0 0 #000000;
    top: 1px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .main-nav__item {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item--current {
    border-bottom: 2px solid #68b738;
    margin-bottom: -2px;
    box-sizing: border-box;
  }

  .main-nav__link {
    padding: 18px 0 10px;
    border: none;
  }
  .main-nav__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__link:last-child {
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    width: 478px;
  }

  .main-nav__item {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__link--index {
    color: #ffffff;
    background-color: transparent;
  }
  .main-nav__link--index:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .main-nav__link--index:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .main-nav__item--current-index {
    border-color: #ffffff;
  }
}
.page__body {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 768px) {
  .page__body {
    max-width: 1439px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .page__body {
    max-width: 1600px;
    width: 100%;
  }
}
.promo__wrapper {
  padding: 27px 20px 0 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo {
  background-image: url("../img/index-can-mobile.png"), url("../img/rectangle-index.svg"), url("../img/promo-background-mobile.png"), linear-gradient(to bottom, #f2f2f2 302px, #ffffff 302px);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom 43px center, top center, top center, center;
  background-size: 280px 270px, contain, contain, cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
}

.promo__description {
  margin: 0;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: 467px) {
  .promo {
    background-image: url("../img/index-can-mobile.png"), url("../img/rectangle-index.svg"), url("../img/promo-background-mobile.png"), linear-gradient(to bottom, #f2f2f2 302px, #ffffff 302px);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom 43px center, top center, top center, center;
    background-size: 280px 270px, cover, cover, cover;
  }
}
@media (min-width: 768px) {
  .promo {
    background-image: url("../img/index-can-tablet.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 709px 609px;
  }

  .promo__wrapper {
    padding: 0 120px 526px;
    text-align: left;
  }

  .promo__title {
    color: #000000;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    margin-bottom: 41px;
  }

  .promo__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 49px;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-image: url("../img/index-can-mobile.png"), url("../img/rectangle-promo-desktop.png"), url("../img/promo-background-desktop.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom 54px center, center right, center right;
    background-size: 552px 499px, 50%, 50%;
    margin-top: -112px;
    margin-bottom: 82px;
  }

  .promo__wrapper {
    padding: 223px 0 185px 190px;
  }

  .promo__description {
    margin-bottom: 52px;
  }
}
.button {
  display: inline-block;
  padding: 7px 0;
  border: none;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button__container {
  text-align: center;
}

@media (min-width: 467px) {
  .button-to-form {
    background-color: #ffffff;
    color: #68b738;
    border-bottom: 1px solid #68b738;
  }
}
@media (min-width: 768px) {
  .button {
    width: 244px;
    padding: 17px 0;
    font-size: 20px;
    line-height: 20px;
    border: none;
    background-color: #68b738;
    color: #ffffff;
  }
}
.catalog {
  padding: 20px;
  background-color: #ffffff;
}

.catalog__wrapper {
  display: grid;
  grid-row-gap: 20px;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
    margin-bottom: 45px;
  }

  .catalog__wrapper {
    grid-row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 374px;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
  }

  .catalog {
    padding: 0 110px;
    margin-bottom: 71px;
  }
}
.catalog__item {
  background-color: #f2f2f2;
  padding: 30px 33px 20px 22px;
  box-sizing: border-box;
}

.catalog__item--slim {
  background-image: url("../img/cat_slim.svg");
  background-repeat: no-repeat;
  background-position: left 22px top 21px;
}

.catalog__item--pro {
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;
  background-position: left 13px top 24px;
}

.catalog__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;
  padding-left: 71px;
  font-weight: 400;
}

.catalog__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 19px;
  color: #444444;
}

.catalog__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.catalog__link::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/icon_arrow.svg");
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  left: 130%;
  top: 30%;
}
.catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog__link:active::after {
  opacity: 0.3;
}
.catalog__link:hover::after {
  background-image: url("../img/icon_arrow-hover.svg");
}

@media (min-width: 768px) {
  .catalog__item {
    padding: 77px 316px 57px 52px;
  }

  .catalog__title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .catalog__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
    margin-bottom: 52px;
    padding: 0;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog__item--slim {
    background-size: 200px 211px;
    background-position: right 62px center;
  }

  .catalog__item--pro {
    background-size: 268px 200px;
    background-position: right 28px center;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    padding: 77px 51px 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__title {
    margin-bottom: 0;
    text-align: center;
  }

  .catalog__description {
    margin-bottom: 0;
  }

  .catalog__item--slim {
    background-size: 100px 106px;
    background-position: left 52px top 41px;
  }

  .catalog__item--pro {
    background-size: 134px 100px;
    background-position: left 33px top 47px;
  }
}
.advantages {
  background-color: #ffffff;
  padding: 0 20px 29px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 36px;
  line-height: 40px;
}

.advantages__description {
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  min-height: 60px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #444444;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  margin-bottom: 20px;
}

.advantages__item--leaf {
  background-image: url("../img/adv-1.svg");
}

.advantages__item--tub {
  background-image: url("../img/adv-2.svg");
}

.advantages__item--eat {
  background-image: url("../img/adv-3.svg");
}

.advantages__item--alarm {
  background-image: url("../img/adv-4.svg");
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages {
    padding: 0 30px 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 249px 249px;
    grid-template-rows: 280px;
    grid-column-gap: 130px;
    grid-row-gap: 37px;
    padding-right: 75px;
  }

  .advantages__item {
    padding-top: 151px;
    padding-left: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .advantages__item--leaf {
    background-image: url("../img/adv-1.svg"), url("../img/adv-numb-1.png");
    background-position: top left, left 118px center;
  }

  .advantages__item--tub {
    background-image: url("../img/adv-2.svg"), url("../img/adv-numb-2.png");
    background-position: top left, left 112px center;
  }

  .advantages__item--eat {
    background-image: url("../img/adv-3.svg"), url("../img/adv-numb-3.png");
    background-position: top left, left 113px center;
  }

  .advantages__item--alarm {
    background-image: url("../img/adv-4.svg"), url("../img/adv-numb-4.png");
    background-position: top left, left 113px center;
  }
}
@media (min-width: 1000px) {
  .advantages__list {
    grid-template-columns: 230px 246px 248px;
    grid-template-rows: 280px;
    grid-column-gap: 75px;
    grid-row-gap: 37px;
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px;
    border-bottom: none;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    grid-template-rows: 280px;
    grid-column-gap: 75px;
    grid-row-gap: 37px;
    padding-right: 0;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.example__wrapper {
  padding-bottom: 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

.example__content {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;
}

.example__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0;
}
.example__item--weight {
  padding: 14px 42px 18px;
}
.example__item--period {
  padding: 14px 21px 18px;
}

.example__content--description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example {
    padding: 43px 30px 60px;
    background: linear-gradient(to bottom, #ffffff 619px, #eaeaea 136px);
  }
  .example__wrapper {
    padding-bottom: 85px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__content--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__content {
    margin-bottom: 0;
  }

  .example__item {
    font-size: 30px;
    line-height: 37px;
  }
  .example__item--weight {
    padding: 15px 57px 20px;
    margin-right: 42px;
  }
  .example__item--period {
    padding: 15px 30px 20px;
  }

  .example__content--description {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 136px, #eaeaea 136px);
    padding: 0 110px 75px;
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__wrapper {
    width: 436px;
    padding: 0;
  }

  .example__slider--container {
    align-self: flex-end;
  }

  .example__content--wrapper {
    display: block;
  }

  .example__content {
    margin-bottom: 60px;
  }

  .example__content--description {
    width: auto;
    text-align: left;
  }
}
.example__slider--image {
  padding-bottom: 15px;
  position: relative;
}
.example__slider--text {
  margin: 0 auto;
  width: 210px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}
.example__slider--switcher {
  display: flex;
}

.slider__image--skinny {
  display: none;
  position: relative;
  top: -232px;
  left: 0;
}

.slider__toggle {
  position: relative;
  width: 42px;
  height: 14px;
  border: 1px solid #cdcdcd;
}
.slider__toggle--before {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.slider__toggle--after {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.slider__toggle--current::after {
  position: absolute;
  top: 3px;
  left: 5px;
  content: "";
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}

.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
  background-color: #ffffff;
}

.contacts--secondary-page {
  background-color: #f2f2f2;
}

.contacts__title {
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 56px 70px;
  }

  .contacts__title {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__description {
    font-size: 16px;
    width: 160px;
    align-self: auto;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 565px;
    height: 198px;
    padding: 59px 80px 56px;
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts {
    position: relative;
  }
}
.main-footer {
  background-color: #f2f2f2;
  padding: 0 20px;
}

.footer__icon {
  fill: #666666;
}
.footer__icon:hover {
  fill: #68b738;
}
.footer__icon:active {
  fill: rgba(104, 183, 56, 0.3);
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    padding: 58px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    padding: 57px 110px 58px;
  }
}
.main-footer__social {
  padding: 20px 74px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .main-footer__social {
    padding: 0;
  }

  .social__list {
    width: 132px;
  }
}
.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-footer__copyright {
    width: 163px;
  }
}
.main-footer__logo {
  padding: 39px 0 32px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.main-footer__logo-image:hover {
  opacity: 0.8;
}
.main-footer__logo-image:active {
  opacity: 0.6;
}

.main-footer__logo--link {
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-footer__logo {
    padding: 0;
    border-bottom: none;
  }
}
.main-container {
  background-color: #ffffff;
}

.program {
  background-color: #ffffff;
}

.program__text {
  padding: 0 20px;
}

.program__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program__description {
  margin: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program__wrapper {
  padding: 27px 0 32px;
  border-top: 1px solid #d9d9d9;
}

.program__form--group {
  border: none;
  padding: 0 20px 24px;
  margin: 0;
  box-sizing: border-box;
}

.program__form--group-radio {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 28px;
}

.program__form--group:nth-child(3) {
  margin-top: 26px;
  padding: 0 23px 20px;
}

.program__form--title {
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.program__container--button {
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .program__wrapper {
    padding: 0 67px 72px 70px;
    border-top: none;
  }

  .program__title {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .program__description {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .program__form--title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .program__text {
    padding: 0;
  }

  .program__form--group:first-child {
    margin-bottom: 48px;
  }

  .program__form--group-radio {
    border: 1px solid #e7e7e7;
    padding: 30px 38px;
    box-sizing: border-box;
    margin-bottom: 75px;
  }

  .program__form--group:nth-child(3) {
    margin: 75px 0 65px;
    padding-bottom: 0;
  }

  .program__form--group:nth-child(4) {
    padding-bottom: 65px;
  }

  .program__form--group:nth-child(5) {
    padding-bottom: 54px;
  }

  .program__container--button {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program__wrapper {
    padding: 74px 110px 82px;
  }

  .program__title {
    margin-bottom: 56px;
  }

  .program__form--profile {
    display: grid;
    grid-template-columns: 568px 568px;
    grid-column-gap: 80px;
    margin-bottom: 69px;
  }

  .program__form--group-radio {
    margin-bottom: 0;
  }

  .program__form--group:first-child {
    margin: 0;
  }

  .program__form--group {
    padding-bottom: 0;
  }

  .program__form--group:nth-child(3) {
    margin: 67px 0 65px;
    padding-bottom: 0;
  }

  .program__form--group:nth-child(4) {
    padding-bottom: 0;
    margin-bottom: 61px;
  }
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  margin-bottom: 14px;
}

.form__item--content {
  display: flex;
  align-items: center;
}

.form__item--title {
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__item--text {
  flex-grow: 1;
  margin: 0;
  padding: 13px 0 14px 15px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.form__item--text:hover {
  border-color: #cdcdcd;
}
.form__item--text:focus {
  outline: 2px solid #444444;
}
.form__item--text:invalid {
  outline: 2px solid #ff8282;
}

.form__item--radio {
  margin: 0;
  margin-right: 23px;
}

.radio-mark--label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form__item--textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
}
.form__item--textarea:hover {
  border-color: #cdcdcd;
}
.form__item--textarea:focus {
  outline: 2px solid #444444;
  outline-offset: -2px;
}
.form__item--textarea:invalid {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}

.form__item--checkbox {
  margin-right: 21px;
}

.checkbox-mark--label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__note {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__button--apply {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .form__list {
    padding: 0;
  }
  .form__list--additionally {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__item {
    margin-bottom: 20px;
  }
  .form__item:last-child {
    margin-bottom: 0;
  }

  .form__item--title {
    font-size: 20px;
    line-height: 30px;
  }

  .form__item--textarea {
    margin: 0;
    width: 100%;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    height: 174px;
  }

  .radio-mark--label {
    font-size: 20px;
    line-height: 30px;
  }

  .checkbox-mark--label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__button--apply {
    margin: 0;
    margin-right: 61px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
    padding: 13px 0;
  }

  .form__note {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .form__list--contacts {
    display: grid;
    grid-template-columns: 568px 568px;
    grid-column-gap: 80px;
  }

  .form__item {
    margin-bottom: 0;
  }
  .form__item--profile:not(:last-child) {
    margin-bottom: 20px;
  }
  .form__item--textarea {
    width: 1220px;
    margin: 0 auto;
  }
  .form__item--program:not(:last-child) {
    margin-bottom: 23px;
  }

  .form__list--additionally {
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    grid-column-gap: 104px;
  }

  .form__button--apply {
    width: 568px;
    margin-right: 80px;
  }
}
.products {
  background-color: #ffffff;
}

.products__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 0 41px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ededed;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    border: none;
    padding: 0;
    margin-bottom: 90px;
  }

  .products {
    padding: 0 30px 68px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 141px;
    justify-content: space-between;
    justify-items: center;
  }
}
@media (min-width: 1440px) {
  .products {
    padding: 74px 110px 75px;
  }

  .products__title {
    margin-bottom: 165px;
  }

  .products__list {
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 143px;
  }
}
.products__item {
  padding: 19px 20px 25px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.product__item--content {
  display: flex;
  margin-bottom: 22px;
}

.product__image--container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__item--detailed {
  display: flex;
  justify-content: space-between;
}

.product__item--description {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.product__item--title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 14px;
  width: 76px;
}

.button--order {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .products__item {
    box-sizing: border-box;
    padding: 161px 38px 39px;
    background-color: #f2f2f2;
    width: 324px;
    position: relative;
    margin: 0;
  }

  .product__item--content {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .product__item--title {
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin: 0 auto 21px;
    width: 154px;
    text-align: center;
  }

  .product__item--detailed {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 9px;
    font-size: 16px;
    margin-bottom: 7px;
  }
  .product__item--detailed:last-child {
    margin-bottom: 0;
  }

  .product__image--container {
    position: absolute;
    top: -30px;
    left: 120px;
  }
}
@media (min-width: 1440px) {
  .products__item {
    padding: 162px 40px 35px 40px;
    width: 245px;
  }

  .button--order {
    width: 168px;
  }
}
.product__item--show-more {
  padding-top: 25px;
  text-align: center;
}

.product__item--title-show-more {
  margin-bottom: 8px;
  width: auto;
}

.product__item--description-show-more {
  margin: 0;
  display: inline-block;
  margin-bottom: 21px;
}

.show-more--image {
  display: inline-block;
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  background-image: url("../img/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button--show-more {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px;
}
.button--show-more:hover {
  background-color: #ebebeb;
}
.button--show-more:active {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: 768px) {
  .product__item--show-more {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    padding-top: 52px;
  }

  .show-more--image {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }

  .product__item--title-show-more {
    margin-bottom: 23px;
    line-height: 22px;
  }

  .product__item--description-show-more {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
@media (min-width: 768px) {
  .button--show-more {
    width: 168px;
  }

  .product__item--show-more {
    padding: 51px 39px 41px;
  }
}
.extensions {
  background-color: #ffffff;
  padding: 25px 20px 35px;
}

.extensions__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extensions__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 35px;
}

.extensions__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
}
.extensions__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extensions__item--title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.extensions__item--description {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  color: #444444;
  line-height: 14px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .extensions {
    padding: 0 30px 76px;
  }

  .extensions__title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  .extensions__list {
    margin-bottom: 69px;
  }

  .extensions__item {
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    display: grid;
    grid-template-areas: "title description" "button button";
    grid-row-gap: 25px;
  }
  .extensions__item:last-child {
    border-bottom: 1px soli #cdcdcd;
  }

  .button--order-other {
    width: 100%;
    grid-area: button;
  }

  .extensions__item--title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    grid-area: title;
  }

  .extensions__item--description {
    grid-area: description;
    margin: 0;
    justify-content: flex-end;
  }

  .extensions__item--cost {
    margin-left: 50px;
  }
}
@media (min-width: 1440px) {
  .extensions {
    padding: 0 110px 76px;
  }

  .extensions__content {
    display: flex;
    justify-content: space-between;
  }

  .extensions__list {
    width: 895px;
    margin-bottom: 0;
  }

  .extensions__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 17px;
    border-left: none;
    border-right: none;
  }

  .extensions__item--description {
    width: 288px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  .button--order-other {
    width: 244px;
    margin: 0;
    margin-left: 38px;
  }
}
.extensions__gift {
  background-image: url("../img/gift-picture.svg"), url("../img/rectangle-gift.svg"), url("../img/gift-background.png"), linear-gradient(to bottom, #f2f2f2 50%, #ffffff 50%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom 151px center, center, center, center;
  background-size: 78px 80px, cover, contain, cover;
  padding: 187px 61px 43px 58px;
}

.extensions__gift--description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .extensions__gift {
    background-image: url("../img/gift-picture.svg"), url("../img/rectangle-gift.svg"), url("../img/gift-background-tablet.png"), linear-gradient(to bottom, #f2f2f2 50%, #ffffff 50%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left 77px top 57px, center, center, center;
    background-size: 78px 80px, cover, contain, cover;
    padding: 71px 124px 69px 422px;
  }

  .extensions__gift--description {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .extensions__gift {
    background-image: url("../img/gift-picture.svg"), url("../img/rectangle-gift.svg"), url("../img/gift-background-desktop.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 77px top 57px, center, center;
    background-size: 78px 80px, cover, contain;
    padding: 184px 43px 42px 40px;
    width: 245px;
    box-sizing: border-box;
  }

  .extensions__gift--description {
    text-align: center;
  }
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.location__wrapper {
  height: 362px;
}

@media (min-width: 768px) {
  .location__wrapper {
    height: 400px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */