.advantages__wrapper {
  max-width: 600px;
  padding: 10px 20px 29px;
  margin: 0 auto;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.advantages__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
  padding-top: 3px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    display: inline-flex;
    width: 60px;
    height: 60px;
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/icon_leaf.svg");
}

.advantages__item--tub::before {
  background-image: url("../img/icon_tub.svg");
}

.advantages__item--eat::before {
  background-image: url("../img/icon_eat.svg");
}

.advantages__item--alarm::before {
  background-image: url("../img/icon_alarm.svg");
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__wrapper {
    max-width: 1024px;
    padding: 45px 30px 46px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__list {
    counter-reset: num;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }

  .advantages__item {
    min-height: 280px;
    margin-bottom: 0;
    counter-increment: num;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .advantages__item::after {
    content: counter(num);
    display: inline-block;
    position: absolute;
    min-width: 112px;
    color: #f2f2f2;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 113px;
  }

  .advantages__description {
    padding-top: 151px;
    padding-left: 0;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .advantages__wrapper {
    max-width: 1220px;
    padding-top: 40px;
    padding-bottom: 16px;
    border-bottom: none;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
  }

  .advantages__description {
    padding-right: 0;
  }
}
