.advantages {
  background-color: #ffffff;
  padding: 0 20px 29px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 36px;
  line-height: 40px;
}

.advantages__description {
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  min-height: 60px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #444444;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  margin-bottom: 20px;
}

.advantages__item--leaf {
  background-image: url("../img/adv-1.svg");
}

.advantages__item--tub {
  background-image: url("../img/adv-2.svg");
}

.advantages__item--eat {
  background-image: url("../img/adv-3.svg");
}

.advantages__item--alarm {
  background-image: url("../img/adv-4.svg");
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages {
    padding: 0 30px 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 249px 249px;
    grid-template-rows: 280px;
    grid-column-gap: 130px;
    grid-row-gap: 37px;
    padding-right: 75px;
  }

  .advantages__item {
    padding-top: 151px;
    padding-left: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .advantages__item--leaf {
    background-image: url("../img/adv-1.svg"), url("../img/adv-numb-1.png");
    background-position: top left, left 118px center;
  }

  .advantages__item--tub {
    background-image: url("../img/adv-2.svg"), url("../img/adv-numb-2.png");
    background-position: top left, left 112px center;
  }

  .advantages__item--eat {
    background-image: url("../img/adv-3.svg"), url("../img/adv-numb-3.png");
    background-position: top left, left 113px center;
  }

  .advantages__item--alarm {
    background-image: url("../img/adv-4.svg"), url("../img/adv-numb-4.png");
    background-position: top left, left 113px center;
  }
}

@media (min-width: 1000px) {
  .advantages__list {
    grid-template-columns: 230px 246px 248px;
    grid-template-rows: 280px;
    grid-column-gap: 75px;
    grid-row-gap: 37px;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px;
    border-bottom: none;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    grid-template-rows: 280px;
    grid-column-gap: 75px;
    grid-row-gap: 37px;
    padding-right: 0;
  }
}
