.catalog__item {
  background-color: #f2f2f2;
  padding: 30px 20px 19px 22px;
}

.catalog__item--slim {
  margin-bottom: 20px;
}

.catalog__item--pro .catalog__title::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../img/module-pro-vector.svg");
  width: 67px;
  height: 28px;
  top: 5px;
  left: -7px;
}

.catalog__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 71px;
  margin: 0;
  margin-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    top: -6px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.catalog__item--slim .catalog__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/module-slim-vector.svg");
  width: 36px;
  z-index: 1;
  height: 50px;
  top: -9px;
  left: 9px;
}

.catalog__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 19px;
  color: #444444;
}

.catalog__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  align-items: center;

  &::before {
    content: "";
    background-color: #000000;
    order: 1;
    width: 18px;
    height: 2px;
    margin-left: 16px;
    transition: width 0.3s ease-out;
  }

  &:hover::before {
    width: 26px;
  }

  &:active {
    color: rgba($color: #000000, $alpha: 0.3);
  }

  &:active::before {
    opacity: 0.3;
  }

  &::after {
    content: "";
    order: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #000000;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .catalog__item {
    padding: 77px 62px 57px 53px;
    display: flex;
    flex-direction: column;
  }

  .catalog__title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-right: 254px;

    &::before {
      width: 200px;
      height: 200px;
      top: 15px;
      left: auto;
      right: 0;
    }
  }

  .catalog__item--slim .catalog__title::after {
    width: 140px;
    height: 194px;
    background-image: url("../img/module-slim-tablet.svg");
    top: 4px;
    left: auto;
    right: 30px;
  }

  .catalog__item--pro .catalog__title::after {
    width: 269px;
    height: 112px;
    background-image: url("../img/module-pro-tablet.svg");
    top: 58px;
    left: auto;
    right: -35px;
  }

  .catalog__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
    margin-bottom: 52px;
    padding: 0;
    width: 58%;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 30px;

    &::before {
      margin-left: 25px;
    }
  }

  .catalog__item--slim {
    margin-bottom: 0;
  }

  .catalog__item--pro {
    background-size: 268px 200px;
    background-position: right 28px center;
  }
}

@media (min-width: 1440px) {
  .catalog__item {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 77px 51px 59px 52px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 30%;
    margin-bottom: 0;
  }

  .catalog__link::before {
    margin-left: 28px;
  }

  .catalog__title {
    padding-left: 162px;
    margin-bottom: 73px;
    padding-right: 0;
  }

  .catalog__title::before {
    width: 100px;
    height: 100px;
    top: -30px;
    left: 0;
    right: auto;
  }

  .catalog__description {
    margin-bottom: 27px;
    width: 100%;
  }

  .catalog__item--slim {
    margin-right: 40px;
  }

  .catalog__item--slim .catalog__title::after {
    width: 70px;
    height: 97px;
    background-image: url("../img/module-slim-desktop.svg");
    top: -36px;
    left: 15px;
    right: auto;
  }

  .catalog__item--pro {
    margin-left: 40px;
  }

  .catalog__item--pro .catalog__title::after {
    width: 134px;
    height: 56px;
    background-image: url("../img/module-pro-desktop.svg");
    right: auto;
    top: -10px;
    left: -19px;
  }
}
