.catalog {
  color: #000000;
  background-color: #ffffff;
}

.catalog__wrapper {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
    display: grid;
    row-gap: 30px;
  }
}

@media (min-width: 1220px) {
  .catalog__wrapper {
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 82px;
    padding-bottom: 31px;
  }
}
