.contacts {
  background-color: #ffffff;
}

.contacts--secondary-page {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
  background-color: #ffffff;
}

.contacts__title {
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 56px 70px;
  }

  .contacts__title {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__description {
    font-size: 16px;
    width: 160px;
    align-self: auto;
  }
}

@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 565px;
    height: 198px;
    padding: 59px 80px 56px;
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts {
    position: relative;
  }
}
