.main-footer {
  background-color: #f2f2f2;
  padding: 0 20px;
}

.footer__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: rgba($color: #68b738, $alpha: 0.3);
  }
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    padding: 58px 30px 55px;
  }
}

@media (min-width: 1440px) {
  .main-footer {
    padding: 57px 110px 58px;
  }
}
