.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
}
