.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .main-footer__copyright {
    width: 163px;
  }
}
