.page-footer__logo {
  display: block;
  padding: 39px 0 32px;
  text-align: center;
  cursor: pointer;
}

.page-footer__logo--image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-footer__logo {
    padding: 0;
    border-bottom: none;
  }
}
