.social {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__link {
  text-decoration: none;
  color: #666666;
}

.social__image {
  fill: #000000;
  display: block;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social {
    padding: 0;
    border: none;
    margin-left: 26px;
  }
}

@media (min-width: 1440px) {
  .social {
    margin-left: 34px;
  }
}
