.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  margin-right: 10px;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__icon {
    stroke: #68b738;
  }

  &:active .copyright__icon {
    stroke: #68b738;
    opacity: 0.3;
  }
}

.copyright__icon {
  color: #666666;
  display: block;
}

@media (min-width: 768px) {
  .copyright__link {
    margin-right: 24px;
  }
}
