.main-footer {
  background-color: #f2f2f2;
  padding: 0 20px;
}

.footer__icon {
  fill: #666666;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    padding: 58px 30px 55px;
  }
}
