.text-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.text-input__label {
  margin-right: 12px;
}

.text-input__input {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 13px 8px 13px 16px;
  flex-grow: 1;
  min-height: 45px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: none;
    outline: 2px solid #444444;
  }

  &:invalid {
    border: none;
    outline: 2px solid #ff8282;
  }
}

.text-input__contact {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-input__input--icon {
  padding-right: 44px;
}

.text-input__icon--email {
  stroke: #222222;
  fill: transparent;
}

.text-input__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  transform: translateY(-50%);
  width: 20px;
}

.text-input__input:focus + .text-input__icon {
  stroke: #68b738;
}

.text-input__input:invalid + .text-input__icon {
  stroke: #ff8282;
}

.text-input__icon:hover path {
  stroke: #68b738;
}

.text-input__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.text-input__textarea {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 12px;
  padding-left: 15px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  resize: none;
  height: 150px;
  border: 1px solid #e7e7e7;

  &:active {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.checkbox__input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;

  &:disabled {
    opacity: 0.3;
  }
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    border: 1px solid #bababa;
    opacity: 0.3;
  }
}

.checkbox__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__label input:checked ~ .checkbox__checkmark::after {
  display: block;
}

.checkbox__label .checkbox__checkmark::after {
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  background-image: url("/img/tick-icon.svg");
  background-repeat: no-repeat;

  &:disabled {
    opacity: 0.3;
  }
}

.radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio__label {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  &:disabled {
    opacity: 0.3;
  }
}

.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    border: 1px solid #bababa;
    opacity: 0.3;
  }
}

.radio__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.radio__label input:checked ~ .radio__checkmark::after {
  display: block;
}

.radio__label .radio__checkmark::after {
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .text-input {
    font-size: 20px;
    line-height: 30px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .text-input__label {
    margin-right: 18px;
  }

  .text-input__input {
    padding: 10px 19px;
    min-height: 52px;
    line-height: 30px;
    font-size: 20px;
  }

  .text-input__input::placeholder {
    font-size: 20px;
    vertical-align: middle;
  }

  .text-input__input--icon {
    padding-right: 44px;
  }

  .text-input__textarea {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    height: 174px;
  }

  .checkbox__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .checkbox__checkmark {
    height: 40px;
    width: 40px;
  }

  .checkbox__label .checkbox__checkmark::after {
    left: 6px;
    top: 6px;
    width: 26px;
    height: 26px;
    background-image: url("/img/tick-icon-tablet.svg");
  }

  .radio__label {
    padding-left: 61px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
  }

  .radio__checkmark {
    height: 40px;
    width: 40px;
  }

  .radio__label .radio__checkmark::after {
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}
