.main-header {
  padding: 10px 20px 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.main-header__logo {
  display: inline-block;
  width: 190px;
  height: 38px;
  background-image: url("../img/logo-mobile.svg"), url("../img/logo-mobile-txt.svg");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
}

@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }

  .main-header {
    padding: 24px 30px 0;
    margin-bottom: 62px;
  }
}

@media (min-width: 1440px) {
  .main-header {
    padding: 53px 110px 0;
    margin: 0;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop.svg");
  }
}
