.main-nav__toggle {
  width: 24px;
  height: 18px;
  padding: 0;
  vertical-align: top;
  background-image: url("../img/menu_mobile.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
