.main-nav--closed .main-nav__toggle-button {
  background-image: url("/img/toggle-button--closed.svg");
}

.main-nav--opened .main-nav__toggle-button {
  background-image: url("/img/toggle-button--opened.svg");
}

.main-nav__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  z-index: 7;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 20px 23px;
  color: #000000;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main-nav__item {
  border-top: 1px solid #e7e7e7;

  &:last-of-type {
    border-bottom: 1px solid #e7e7e7;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding-top: 16px;
    max-width: 74%;
  }

  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 7px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__item--current .main-nav__link {
    border-bottom: 2px solid #68b738;
  }

  .main-nav__item {
    margin-right: 35px;
    margin-bottom: 10px;
    border: none;

    &:last-of-type {
      margin-right: 0;
      border: none;
    }
  }
}

@media (min-width: 1220px) {
  .main-nav {
    max-width: 48%;
  }

  .main-nav__list {
    background-color: transparent;
  }

  .main-nav__list--index a {
    color: #ffffff;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 4px;
  }

  .main-nav__list--index .main-nav__item--current {
    border-bottom: 2px solid #ffffff;
  }
}
