.main-nav__toggle {
  padding: 0;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 22px 0 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.main-nav__link:last-child {
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767px) {
  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 1.5px;
      background-color: #000000;
      top: 8px;
      left: 0;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 10;
    width: 100%;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 7.5px 0 0 #000000, 0 15px 0 0 #000000;
    top: 1px;
    left: 0;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .main-nav__item {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item--current {
    border-bottom: 2px solid #68b738;
    margin-bottom: -2px;
    box-sizing: border-box;
  }

  .main-nav__link {
    padding: 18px 0 10px;
    border: none;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.6);
    }

    &:active {
      color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  .main-nav__link:last-child {
    border: none;
  }
}

@media (min-width: 1440px) {
  .main-nav__list {
    width: 478px;
  }

  .main-nav__item {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__link--index {
    color: #ffffff;
    background-color: transparent;

    &:hover {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }

    &:active {
      color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }

  .main-nav__item--current-index {
    border-color: #ffffff;
  }
}
