.product__item--show-more {
  padding-top: 25px;
  text-align: center;
}

.product__item--title-show-more {
  margin-bottom: 8px;
}

.product__item--description-show-more {
  display: inline-block;
  margin-bottom: 21px;
}

.show-more--image {
  margin-bottom: 23px;
}

.button--show-more {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px;
}
