.products__item {
  padding: 19px 20px 25px;
  border-bottom: 1px solid #ededed;
}

.product__item--content {
  display: flex;
  padding-bottom: 22px;
}

.product__image--container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__item--detailed {
  display: flex;
  justify-content: space-between;
}

.product__item--description {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.product__item--title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 14px;
}

.button--order {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}
