.product__item--show-more {
  padding-top: 25px;
  text-align: center;
}

.product__item--title-show-more {
  margin-bottom: 8px;
  width: auto;
}

.product__item--description-show-more {
  margin: 0;
  display: inline-block;
  margin-bottom: 21px;
}

.show-more--image {
  display: inline-block;
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  background-image: url("../img/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button--show-more {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px;
}

@media (min-width: 768px) {
  .product__item--show-more {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    padding-top: 52px;
  }

  .show-more--image {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }

  .product__item--title-show-more {
    margin-bottom: 23px;
    line-height: 22px;
  }

  .product__item--description-show-more {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

@media (min-width: 768px) {
  .button--show-more {
    width: 168px;
  }

  .product__item--show-more {
    padding: 51px 39px 41px;
  }
}
