.toggle {
  position: absolute;
  top: -2px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 20px;
  padding-bottom: 17px;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.toggle__button {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  top: -2px;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}
