@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/body.scss";
@import "./blocks/promo.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-item.scss";
@import "./blocks/advantages.scss";
@import "./blocks/page.scss";
@import "./blocks/example.scss";
@import "./blocks/example-slider.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
@import "./blocks/footer-social.scss";
@import "./blocks/footer-copyright.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/main-nav__list.scss";
@import "./blocks/main.scss";
@import "./blocks/program.scss";
@import "./blocks/forms.scss";
@import "./blocks/products.scss";
@import "./blocks/products-item.scss";
@import "./blocks/product-item__show-more.scss";
@import "./blocks/extensions.scss";
@import "./blocks/extensions-gift.scss";

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
